.header {
  height: 100vh;
  width: 100%;
  background-image: url('../images/jungle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid black;
  padding: 10%;
}

.title_container {
  width: fit-content;
  margin: auto;
}

.title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'MontserratAlternates';
}

.title-text {
  display: block;
  font-size: 150px;
  line-height: 80%;
}

.dsi {
  text-align: start;
}

.go {
  font-size: 300px;
  color: #F5A34C;
}
